*.ewd
*.ewp
*.eww
*.dep
*.d51
*.pbi
*.r51
*.pbd
*.dni
*.wsdt
*.hex
*.pbi.cout
*.pbd.browse
*.dbgdt
*.cspy.bat
*.a51
*.dll
*.s51
*.lib
*.map
*.lst
*.xcl
*.bat
*.js
*.exe
*.zjs
*.xml
*.config
*.chm
*.pdf
*.vscode
*.inf
*.ps1
*.linf
*.dnx
*.ico
*.dat